body {
    background:#3c3836;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("https://img.freepik.com/free-photo/anime-style-galaxy-background_23-2151134283.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
  }


#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #7daea3    ;
   margin: 24 auto;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;

}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 10;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
    background-color: #3c3836;
    padding: 10px;
    border-radius: 10px;

}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    border-radius: 20px;

}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    border-radius: 10px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px #282828 ridge;
    padding: 8px;
    border-radius: 15px;
}
h2, h3 {
    margin: 0px;
}

 /* portfolio styles */
 .content h1 {
    color: black;
    background-color: #3c3836;
    display: 0 flex;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #e18e96;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #458588;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}

  /* responsive web design */
  @media screen and (min-width: 120px) and (max-width: 1080px) {
    main {
      height: 100ch;
      zoom: 1.5;
      display: grid;
    }

    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 42px;
    }

    h3 {
      font-size: 36px;
    }

    #all-contents {
      height: 100ch;
      margin: none;
      border-radius: 25px;

    }

    a {
      font-size: 42px;
    }

    .sidebar {
      margin-right: 0px;
      justify-content: center;
      align-items: center;
    }

    .sidebar-img {
      width: 100%;
    }

    p,
    li {
      font-size: 25px;
    }

    .content {
      align-content: center;
      justify-content: center;
      
    }
}